In [55]:
import re

In [56]:
chat1 = 'codebasics: you ask a lot of questions ðŸ˜  1235678912, abc@xyz.com, 9998881234'
chat2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

In [57]:
pattern = '\d{4}'
# '\d{10}|\(\d{3}\)-\d{3}-\d{4}|[a-z0-9A-Z_]*@[a-z0-9A-Z]*\.[a-zA-Z]*'
matches = re.findall(pattern, chat1)
matches

['1235', '6789', '9998', '8812']

In [58]:

pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}|[a-z0-9A-Z_]*@[a-z0-9A-Z]*\.[a-zA-Z]*'

matches = re.findall(pattern, chat3)
phone_number = matches[0]
email = matches[1]

In [59]:
phone_number

'1235678912'

In [60]:
email

'abc@xyz.com'

Retrieve order number

In [61]:
chat1 = 'codebasics: Hello, I am having an issue with my order # 412889912'

pattern = 'order[^\d]*(\d)'
matches = re.findall(pattern, chat1)
matches

['4']

In [62]:
chat2='codebasics: I have a problem with my order number 412889912'
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat2)
matches

['412889912']

In [63]:
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat3)
matches

['412889912']

In [64]:
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0].strip()

In [65]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [66]:
pattern = '\(age.*\n(.*)'

match = get_pattern_match(pattern, text)
match

'Pretoria, Transvaal, South Africa'

In [67]:
def get_personal_information(text):
    age = get_pattern_match('age (\d+)', text)
    full_name = get_pattern_match('Born(.*)\n', text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
    birth_place = get_pattern_match('\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': full_name,
        'birth_date': birth_date,
        'birth_place': birth_place
    }

In [69]:
message = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani â€‹(m. 1985)â€‹[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [70]:
get_personal_information(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

In [71]:
get_personal_information(message)

{'age': 64,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}